
{{2|demo:5}}

<!-- {{ name| lowercase }}<br>
{{ message | uppercase }}<br>
{{ message | titlecase }}<br>
{{ name| slice:3:5 }}<br>
{{ person | json }}<br>
{{2.567 | percent}}<br>
{{date | uppercase| date:'fullDate'}}<br>
{{2.567 | currency}}<br>
{{2.57 | currency:'GBP'}}<br>
{{date}}<br>
{{date | date:'short'}}<br>
{{date | date:'shortDate'}}<br>
{{date | date:'dd/MM/yyyy'}}
{{date | date:'shortTime'}}<br>
{{2.57 | currency}}<br> -->
<!---Custom pipes-->
<!-- {{2 | demo:5}}
{{625  |sqrt}} -->
 